* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightslategray;
  color: white;
}

/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto; /* change to auto */
  width: 50%;
  background-color: lightseagreen;
}

.clearButton,
.titleDiv,
.addButton,
.inputText {
  height: 3em;
}

/* TITLE */
.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 5rem;
  background-color: lightslategray;
}

/* ALERT */
.errorDiv {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  height: 3em;
  margin-bottom: 3rem;
  background-color: red;
}

/* INPUT */
.inputDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

/* ADD  BUTTON */
.addButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.addButton:hover {
  cursor: pointer;
}

.inputText {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

/* OUTPUT */
.outputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: auto;
  margin-top: 2rem;
}

.newOutputDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  color: #000;
  width: 70%;
  padding: 1rem;
}

.newDelButt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  width: 15%;
  padding: 1rem;
  outline: none;
  border: none;
}

.newDelButt:hover {
  cursor: pointer;
}

.newEditButt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
  width: 15%;
  padding: 1rem;
  outline: none;
  border: none;
}

.newEditButt:hover {
  cursor: pointer;
}

.newOutputDiv,
.newDelButt,
.newEditButt {
  height: 1.5rem;
}

.outputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* CLEAR BUTTON */
.clearButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 1em;
  background-color: lightsalmon;
}

.clearButton:hover {
  cursor: pointer;
}
