// COLORS
$color1: #07593b;
$color2: #06bf69;
$color3: #052613;
$color4: #078c5b;
$color5: #0d0d0d;

// FONTS
$fontType1: "Chivo", sans-serif;
$fontType2: "Overpass", sans-serif;

$fonSizeBig: 2.5rem;
$fontSizeMedium: 1.5rem;
$fontSizeSmall: 1rem;
