// COLORS
$color1: #07593b;
$color2: #06bf69;
$color3: #052613;
$color4: #078c5b;
$color5: #0d0d0d;

// FONTS
$fontType1: "Chivo", sans-serif;
$fontType2: "Overpass", sans-serif;

$fontSizeBig: 2rem;
$fontSizeMedium: 1.5;
$fontSizeSmall: 0.7rem;
