@import "mixins", "values";
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@700&family=Overpass:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid white;
}

body {
  @include felxCentCol;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/3838850/pexels-photo-3838850.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: $fontType1;
  font-size: $fontSizeMedium;
}

// SECTION_1
.section_1 {
  @include felxCentCol;
  width: auto;
  height: auto;
  padding: 1em;
  margin: 2rem;
  h1,
  h3 {
    @include felxCentCol;
    width: 100%;
    margin: 0.3rem;
  }
  h1 {
    font-size: $fonSizeBig;
  }
  h3 {
    font-size: $fontSizeMedium;
  }
}

// SECTION_2
.section_2 {
  @include felxCentCol;
  position: relative;
  width: 70%;
  height: 70%;

  //   BUTTONS
  .buttonLeft {
    position: absolute;
    left: 0;
  }
  .buttonRight {
    position: absolute;
    right: 0;
  }
}

.buttonLeft,
.buttonRight {
  padding: 1em;
}

// INNER CONTAINER
.containerDiv {
  @include felxCentCol;
  width: 90%;
  height: 70%;
  padding: 1em;

  //   PICTURE
  .pictureDiv {
    @include felxCentCol;
    width: 30%;
    height: 20%;
    position: absolute;
    top: 0%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  //    ELEMENTS STRUCTURE
  .nameDiv,
  .ratingDiv,
  .testimDiv,
  .commaDiv {
    margin: auto;
  }
  .testimDiv {
    @include felxCentCol;
    text-align: center;
    padding: 0.5em;
    margin: auto;
    height: 20%;
  }

  .nameDiv {
    position: absolute;
    top: -10%;
  }

  .testimDiv {
    height: 50%;
    font-family: $fontType2;
    background-color: $color3;
  }

  .commaDiv {
    @include felxCentCol;
    height: 30%;
    width: 30%;
    i.material-icons {
      font-size: 3em;
    }
  }
}
