@import "mixins", "values";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  @include felxCentCol;
  height: 100vh;
  background-color: lightblue;
}

// SECTION_1
.section_1 {
  @include felxCentCol;
  width: auto;
  height: auto;
  padding: 1em;
  margin: 2rem;
  h1,
  h3 {
    @include felxCentCol;
    width: 100%;
    margin: 0.3rem;
  }
}

// SECTION_2
.section_2 {
  @include felxCentCol;
  position: relative;
  width: 80%;
  height: 70%;

  //   BUTTONS
  .buttonLeft {
    position: absolute;
    left: 0;
  }
  .buttonRight {
    position: absolute;
    right: 0;
  }
}

.buttonLeft,
.buttonRight {
  padding: 1em;
}

// INNER CONTAINER
.containerDiv {
  @include felxCentCol;
  width: 80%;
  height: 70%;
  padding: 1em;

  //   PICTURE
  .pictureDiv {
    @include felxCentCol;
    width: 50%;
    height: 10%;
    position: absolute;
    top: 10%;
  }
  //    ELEMENTS STRUCTURE
  .nameDiv,
  .ratingDiv,
  .testimDiv,
  .commaDiv {
    margin: 2rem auto;
    width: auto;
    height: auto;
  }
}
