* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  /* PADDING */
  --padTiny: 0.3rem;
  --padSmall: 0.5rem;
  --padMedium: 1rem;
  --padLarge: 1.5rem;

  /* MARGIN */
  --margTiny: 0.3rem;
  --margSmall: 0.5rem;
  --margMedium: 1rem;
  --margLarge: 1.5rem;

  /* HEIGHT */
  --height_1: 15rem;
  --height_2: 25rem;
  --heightTitle: 4rem;

  /* FONT */
  --fontTiny: 0.5rem;
  --fontSmall: 1rem;
  --fontMedium: 1.5rem;
  --fontLarge: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: auto;
}

/* CONTAINER */
.containerSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 10% 90%;
  width: 80%;
  height: auto;
  background-color: lightgrey;
  border: 3px solid grey;
}

.titleDiv {
  grid-column: 1/3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
  width: auto;
  margin-bottom: var(--margMedium);
  padding: var(--padSmall);
  height: var(--heightTitle);
  font-size: var(--fontMedium);
}

/* COLUMN_1 */
.gridColumn_1 {
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* BUDGET INPUT */
.budgetInpDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightgreen;
  border: 3px solid grey;
  width: 90%;
  height: var(--height_1);
  padding: var(--padSmall);
  margin-bottom: var(--margMedium);
}

/* icons */
#atmIcon,
#creditIcon,
#moneyIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: green;
  font-size: 3em;
}

.budgetInpDiv label,
input,
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: var(--padSmall);
  margin: var(--margTiny);
}

.budgetInpDiv label {
  background-color: grey;
  color: white;
}

/* ALERT DIV */
.alertDiv_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: red;
  color: white;
  width: 90%;

  height: var(--heightTitle);
  margin-bottom: var(--margMedium);
}

.alertDiv_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: green;
  color: white;
  width: 90%;

  height: var(--heightTitle);
  margin-bottom: var(--margMedium);
}

/* EXPENSE INPUT(S) */
.expenseInputDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightgreen;
  border: 3px solid grey;
  width: 90%;
  height: var(--height_2);
  padding: var(--padSmall);
  margin-bottom: var(--margMedium);
}

.expenseInputDiv label {
  background-color: grey;
  color: white;
}

.expenseInputDiv label,
input,
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: var(--padSmall);
  margin: var(--margTiny);
}

.addExpButt {
  transition: 0.2s ease;
}

.addExpButt:hover {
  background-color: lightseagreen;
}

.clearButt {
  transition: 0.2s ease;
}

.clearButt:hover {
  background-color: lightcoral;
}

.budgetInputButt {
  transition: 0.2s ease;
}

.budgetInputButt:hover {
  background-color: lightseagreen;
}

/* COLUMN_2 */
.gridColumn_2 {
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* DISPLAY DIV */
.displayDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  width: 90%;
  border: 3px solid lightseagreen;
  height: var(--height_1);
  padding: var(--padSmall);
  margin-bottom: var(--margMedium);
}

.budgetDiv,
.expensesDiv,
.balanceDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 100%;
  color: black;
  background-color: lightcyan;
  font-size: var(--fontSmall);
}

.displayDiv .subTitleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
  color: white;
  padding: var(--padSmall);
  font-size: 1.2em;
}

.budgetDiv h2,
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.expensesDiv h2,
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.balanceDiv h2,
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.budgetDisplay,
.expensesDisplay,
.blanaceDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--fontMedium);
  font-weight: 800;
  color: green;
}

/* OUTPUT DIV */
.outputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: 3px solid grey;
  width: 90%;
  height: auto;
  padding: var(--padSmall);
  margin-bottom: var(--margSmall);
}

.outputTable {
  width: 100%;
  height: 100%;
}

thead tr th {
  background-color: grey;
  color: white;
  padding: var(--padMedium);
}

.delButt {
  cursor: pointer;
}

/* new table rows */
.newThTitle,
.newThValue {
  padding: var(--padMedium);
}
