* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: lightseagreen;
}

/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 50%;
  border: 1px solid black;
  margin-top: 2rem;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 0.5rem;
}

/* ALERTS DIV */
.alertsDiv {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
}

.alertAdded {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.alertEmpty {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

/* INPUT / OUTPUT DIV */
.inputDiv,
.outputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  width: 90%;
}

.inputDiv {
  background-color: lightgreen;
}

.outputDiv {
  background-color: lightblue;
}

/* TITLES */
.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 1rem;
  margin: 0.5rem auto 0 auto;
}

/* INPUT BAR*/
.addItemsInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 0.5rem;
  margin: 1.5rem;
}

/* BUTTONS */
.buttonDiv_1,
.buttonDiv_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 1rem;
}

.submitButt,
.clearButt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

/* ITEMS DIV */
.itemsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 1rem;
}

/* newItems */
.newLi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  list-style: none;
  width: 100%;
  margin: auto;
}
