* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: lightseagreen;
}

/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 70%;
  border: 1px solid black;
  margin-top: 2rem;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 1rem;
}

/* INPUT ALERTS DIV */
.alertsDiv {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  margin-top: 1rem;
}

.alertAdded {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.alertEmpty {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

/* INPUT / OUTPUT DIV */
.inputDiv,
.outputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  width: 90%;
}

.inputDiv {
  background-color: lightblue;
}

.outputDiv {
  background-color: lightslategray;
}

/* TITLES */
.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  padding: 1rem;
  margin: 1rem auto 0 auto;

  background-color: lightskyblue;
}

/* INPUT BAR*/
.addItemsInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  margin: 1.5rem;
  outline: none;
}

/* BUTTONS */
.buttonDiv_1,
.buttonDiv_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 1rem;
}

.submitButt,
.clearButt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: 0.5rem;
  transition: 0.2s ease-in-out;
}

.submitButt:hover,
.clearButt:hover {
  background-color: lightgreen;
}

/* OUTPUT ITEMS DIV */
.itemsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 1rem;
}

.itemSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
}

.outputSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 1rem;
}

.newLi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  list-style: none;
  width: 100%;
  background-color: white;
  padding: 0.5rem;
}

.deleteDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  width: 20%;
  background-color: red;
  color: white;
  padding: 0.5rem;
}

.deleteDiv:hover {
  cursor: pointer;
}

/* OUTPUT ALERTS */
.outputAlertDiv {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  margin-top: 1rem;
}

.alertCleared {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
}
