* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  /* COLORS */
  --color1: #b7e1ff;
  --color2: #366180;
  --color3: #6bc1ff;
  --color4: #5c7180;
  --color5: #93b4cc;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eee;
}

/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 40%;

  padding: 1rem;
  border: 1px solid black;
  background-color: var(--color2);
}

/* TITLE */
.title_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5em;
  color: #fff;
  background-color: var(--color4);
}

/* ERROR DIV */
.error_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  padding: 1em;
  margin: 0.5em;

  background-color: red;
  color: white;
}

.error_div p {
  padding: 0.2em;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  padding: 0.5rem;
  background-color: var(--color1);
}

.form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;

  margin: 0.5em;
}

.form label {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  width: 100%;
  height: 2.5em;
}

.form input,
select {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 100%;
  height: 2.5em;
}

/* BUTTON */
.button_div button {
  height: 2.5em;
  width: 5em;
}

/* RESULTS DISPLAY DIV */
.results_display_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  background-color: green;
}

.results_display_div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: auto;
  padding: 1rem;
  color: white;
}
