@mixin flexCenterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
