// COLOR
$background-color: #997132;
$container-color: #437199;
$button-color: #ffd187;

$text-color: #fff;

// FONT
$quote-fontSize: calc(0.1rem + 2.5vw);
$button-fontSize: calc(0.1rem + 1.2vw);
$author-fontSize: calc(0.1rem + 1.5vw);

$quote-fontWeight: 800;
$author-fontWeight: 700;
$button-fontWeight: 700;

$primary-fontFamily: "Xanh Mono", monospace;
$secondary-fontFamily: "Roboto Mono", monospace;
