@import "section.scss";
@import "body.scss";

$textPrimary: #000;
$fontSizePrimary: 2rem;
$fontWeightPrimary: 800;
$primaryLetterSpacing: 7px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //   border: 1px solid black;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 400px;
  color: $textPrimary;
  font-size: $fontSizePrimary;
  font-weight: $fontWeightPrimary;
  letter-spacing: $primaryLetterSpacing;
}

.button {
  font-family: "VT323", monospace;
  font-size: 1.5em;
  padding: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: #fff;
  &:hover {
    box-shadow: 0px 5px 5px black;
  }
}
