* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

:root {
  /* PADDING */
  --padTiny: 0.5rem;
  --padSmall: 1rem;
  --padMedium: 1.5rem;
  --padLarge: 2rem;

  /* MARGIN */
  --margTiny: 0.5rem;
  --margSmall: 1rem;
  --margMedium: 1.5rem;
  --margLarge: 2.5rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* change to auto */
  background-color: lightslategrey;
}

/* SECTION 1 */
.section_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: auto;
}

/* UPPER DIV */
.upperDiv {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  width: 20%;
  height: auto;
  background-color: lightgrey;
  border: 2px solid white;

  padding: var(--padSmall);
  margin: var(--margLarge);
}

.upperDiv .titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  padding: var(--padSmall);
}

.upperDiv .buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* add question button */
.upperDiv .buttonDiv .addQestButt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lightseagreen;
  color: white;

  padding: var(--padSmall);
}

/* INPUT DIV */
.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;

  border: 2px solid white;
  background-color: lightgrey;
}

/* X - DIV */
.x-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin: auto;
}

.x-div .xButt {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: center;
  background-color: lightseagreen;
  color: white;

  padding: var(--padTiny);
  margin: var(--margTiny);
}

/* ALERT DIV */
.emptyAlertDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lightcoral;
  color: white;

  padding: var(--padSmall);
  margin-top: var(--margMedium);
  margin-bottom: var(--margMedium);
}

.listClearedDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: green;
  color: white;

  padding: var(--padSmall);
  margin-top: var(--margMedium);
  margin-bottom: var(--margMedium);
}

/* FORM SECTION */
.formSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.formSection label {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  background-color: white;

  padding: var(--padTiny);
  margin-top: var(--margTiny);
  margin-bottom: var(--margTiny);
}

.questionDiv,
.answerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

/* textareas */
.questTxtArea,
.answTxtArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  resize: vertical;
  border: 2px solid lightseagreen;
  outline: none;

  margin: var(--margTiny);
}

/* SAVE BUTTON */
.saveButtDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.saveButtDiv .saveButt,
.clearAllButt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: lightseagreen;
  width: 5em;
  height: 4em;

  margin: var(--margTiny);
  padding: var(--padSmall);
}

/* OUTPUT SECTION */
.outputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: auto;
  background-color: lightgrey;
  border: 2px solid white;

  margin: var(--margLarge);
}

.newSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 70%;
  background-color: lightseagreen;
  border: 1px solid black;

  margin-top: var(--margMedium);
  margin-bottom: var(--margMedium);
}

/* flashcard lines */
.newQuestLi,
.newLinkLi,
.newAnswLi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  padding: var(--padSmall);
}

.newAnswLi {
  color: white;
}

.newButtDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: var(--padSmall);
}

/* new buttons */
.newButtDiv button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;

  padding: var(--padTiny);
}
